.leagues {
	width: 100%;
	display: table;

	.league {
		display: table-row;
	}

	.league-headers {
		display: table-header-group;
	}

	.league-header, .league-datum {
		display: table-cell;
		width: 25%;
	}

	.league-header {
		font-size: 0.9em;
		padding-bottom: 0.5em;
	}
}

.league-group {
	margin-bottom: 3em;

	h2 {
		font-size: 1.4rem;
	}
}