%small {
	font-size: 1rem;
}

%rounded {
	border-radius: 0.2em;
}

.not-displayed {
	display: none;
}

.page-title {
	text-align: center;
	margin-bottom: 0;
}

.simple-form {
	.form-label {
		font-weight: bold;
		width: 7em;
		display: inline-block;
	}

	.form-input {
		width: auto;
		display: inline-block;
	}

	.form-label::after {
		content: ":"
	}

	.form-buttons {
		display: flex;
		flex-wrap: wrap;

		button {
			margin: 0 0.5em;
		}

		button:first-child {
			margin-left: 0;
		}

		button:last-child {
			margin-right: 0;
		}
	}

	.validation-errors {
		width: 100%;
		list-style-type: none;
	}

	.validation-error {
		color: $error;
	}
}