/* This file is for your main application css. */

@import 'sanitize';

@import 'colors';
@import 'common';
@import 'fonts';
@import 'images';
@import 'loading';

@import 'header';
@import 'profile';

body {
	color: $text-color;
	background-color: $background;
	font-size: 18pt;
	font-family: $main-font;
}

h1, h2, h3, h4, h5 {
	font-family: $heading-font
}

.wrapper {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-auto-rows: minmax(100px, auto);
	grid-template-areas:
		"header header header header"
		"main main main main";

	margin: 0 25vw;
}

.header {
	grid-area: header;
	margin-top: 0.5rem;
}

.content {
	grid-area: main;
	margin-top: 1rem;
}

.clickable {
	cursor: pointer;
}