<!DOCTYPE html>
<html lang="en">
	<head>
		<%# TODO: What meta tags to include? %>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="author" content="">

		<title>Hello FantasyBb!</title>
		<link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
	</head>

	<body>
			<header class="header">
				<nav role="navigation">
					<ul>
						<%= render "header.html", conn: @conn, current_user: @current_user %>
					</ul>
				</nav>
			</header>

			<p role="alert"><%= get_flash(@conn, :info) %></p>
			<p role="alert"><%= get_flash(@conn, :error) %></p>

			<main role="main">
				<%= render @view_module, @view_template, assigns %>
			</main>

		<script src="<%= static_path(@conn, "/js/app.js") %>"></script>
	</body>
</html>
