<%= if assigns[:current_user] do %>
	<h2>Welcome, <%= @current_user.email %>!</h2>
	<img src="<%= @current_user.avatar %>" />
	<%= button "Logout", to: auth_path(@conn, :delete), method: :delete %>

<% else %>
	<a href="<%= login_path(@conn, :index) %>">
		Log in
	</a>
<% end %>
